* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1 {
    text-align: center;
}

header .student-info {
    display: flex;
    justify-content: space-evenly;
}

nav {
    padding: 20px;
}

nav .nav-buttons {
    border: 2px solid black;
    border-radius: 15px;
    color:black;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}

main {
    display: flex;
}

aside {
    margin-top: 20px;
    padding-left: 20px;
}

#aside-button-lab1, 
#aside-button-lab2,
#aside-button-lab3,
#aside-button-lab4, 
#aside-button-lab5, 
#aside-button-lab6, 
#aside-button-lab7,
#aside-button-lab8,
#aside-button-lab9,
#aside-button-lab10 {
    display: flex;
    flex-direction: column;

}

aside .aside-button {
    width: 200px;
    border: 2px solid black;
    border-radius: 30px;
    color:black;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    margin: 10px 0;
}

.button-active {
    display: flex;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.images-labs {
    width: 700px;
}